<p>calculator works!</p>
<h1 style="text-align: center">calculator</h1>

<div class="input">
    <br>
    <label>ENTER number : </label><input [(ngModel)]='number1' type="number">
    <label>ENTER number : </label><input [(ngModel)]='number2' type="number">

</div>


<div class="buttons">
    <br>
    
    <button class="but" (click)='sum()'> + </button>&nbsp;&nbsp;&nbsp;
    <button class="but" (click)='diff()'> - </button>&nbsp;&nbsp;&nbsp;
    <button class="but" (click)='mult()'> x </button>&nbsp;&nbsp;&nbsp;
    <button class="but" (click)='divi()'> ÷ </button>
    <br><br><br>

    
   <label>Display screen </label><br>
   <input class="in" style="color: gray ;background: black ;width: 15%;" 
   [value]="screen" [value]="results" ><br>
    <input class="in" style="color: white ;background: black ; font-size: 30px; width: 15%;"
    [value]="number2" [value]="number1" [value]="result">

</div>
<div class="butcalculater">
        <br>
        <button class="butt" (click)='num("%")'> % </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("^")'> ^ </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("+")'> + </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("-")'> - </button>&nbsp;&nbsp;&nbsp;<br><br>
        <button class="butt" (click)='num("")'> 🤣 </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("*")'> ⁕ </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("/")'> ÷ </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("")'> 🤷‍</button>&nbsp;&nbsp;&nbsp;<br><br>
        <button class="butt" (click)='num("1")'> 1 </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("2")'> 2 </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("3")'> 3 </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("4")'> 4 </button>&nbsp;&nbsp;&nbsp;<br><br>
        <button class="butt" (click)='num("5")'> 5 </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("6")'> 6 </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("7")'> 7 </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("8")'> 8 </button>&nbsp;&nbsp;&nbsp;<br><br>
        <button style="font-size: 150%" class="butt" (click)='equal()'> = </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("9")'> 9 </button>&nbsp;&nbsp;&nbsp;
        <button class="butt" (click)='num("0")'> 0 </button>&nbsp;&nbsp;&nbsp;
        <button style="color: red ;font-size: 150%" class="butt" (click)='delete()'> delete </button>&nbsp;  
        <br><br><br>
</div>

<ul>this is result: 
    <li *ngFor="let x of results" >{{x}}
        </li>
</ul>